<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="/restaurante"></ion-back-button>
    </ion-button>
    <ion-title>{{restaurante.nombreRestaurante}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img [src]="restaurante.logotipo"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1 class="ion-text-center">{{restaurante.nombreRestaurante}}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1 class="ion-text-center">{{restaurante.descripcionRestaurante}}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-img [src]="restaurante.tenedores"  style="height: auto; max-width: 40vh;"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let comentarios of restaurante.comentarios">
            {{comentarios}}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
